/*font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif;*/

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 120;
    padding-bottom: 120;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
  }

.header-logo .logo-part {
    color: #2e2f42;
}


.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

.nav-link {
    display: block;
  padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

.contacts-link {
    display: block;
  padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
}

.hero-image {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
  }  

.hero-image .container {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   gap: 48px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.hero-btn {
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    min-height: 56px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

.section {
    padding: 120px 0 120px;
}

.features-section {
    background-color: #fff;
}

.section .container {
    min-width: 1158px;
  }
  

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.features-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section {
    padding: 120px 0 120px
}

.section-team {
    background-color: #f4f4fd;
    
}

.team-member {
    background-color: #fff;
}

.card-content {
    padding: 32px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-member {
    box-sizing: border-box;
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    padding: 0px;  
}

/* .member-photo { 

}*/

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.member-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.section { 
    padding-top: 120px; 
    padding-bottom: 120px;
}

.portfolio-section {
    background-color: #fff;
}

.portfolio-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

    
.portfolio-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-item {
    box-sizing: border-box;
    width: calc((100% - 48px) / 3);
    padding: 0px;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
    flex-direction: column;
    /*gap: 32px;*/
  }

  .item-content {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px
  }
  

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
   margin-bottom: 8px;
}

.portfolio-dscr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
  padding-bottom: 100px;
}

 .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
    display: inline-block;
}

/*.page-footer .container {
      
}*/

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    color: #f4f4fd;
}